	<footer class="footer">
 		<div class="container">
 			<div class="top_footer">
	 			<div class="left_footer col-md-6">
	 				{{ page.footer_left }}
	 			</div>
	 			<div class="right_footer col-md-6">
	 				{{ page.footer_right }}
	 			</div>
	 		</div>
	 		<div class="bottom_footer col-md-12">
	 			<p>
					Elevations, floorplans and renderings may not be reproduced without the express written consent of Lacrosse Homes.  All content, features and pricing is subject to change without notice.
				</p>
	 			{{ page.footer_copy }}
	 		</div>
 		</div>
 	</footer>
 </div>