 <div class="wrapper">
 	<div class="top_strip">
 		<div class="container">
 			<div class="top_left_menu">
 				{{ page.top_left_menu }}
 			</div>
 			<div class="secodary_menu">
 				{{ page.secondary_menu }}
 			</div>
 		</div>
 	</div>
 	<header id="header">
 		<div class="container">
 			<div class="site_branding">
	 			{{ page.header }}
	 		</div>
	 		<div class="navigation">
	 			<div class="primary_menu">
	 				{{ page.primary_menu }}
	 			</div>
	 		</div>
	 		<div class="breadcrumbs">
	 			{{ page.breadcrumb }}
	 		</div>
 		</div>
 	</header>