{% include directory ~ '/templates/system/header.html.twig' %}
 	<div class="slider_top">
 		{{ page.slider_top }}
 	</div>
 	<div class="main_content">
 		<div class="container">
 			{{ page.content }}
 			{{ page.sidebar_first }}
 		</div>
 	</div>




{% include directory ~ '/templates/system/footer.html.twig' %}
 	
 
 