{# {{ kint(fields) }} #}

<div class="col-md-4 communities_view_bg">
	<div class="comm_view_img">
		{{ fields.field_co.content }}
	</div>
	<div class="communities_view_content_text">
		<div class="comm_view_title">
			{{ fields.title.content }}
		</div>
		<div class="comm_view_body">
			{{ fields.body.content }}
		</div>
		<div class="comm_view_add">
			{{ fields.field_communities_address.content }}
		</div>
		<div class="comm_view_beds">
			{{ fields.field_beds.content }}
		</div>
		<div class="comm_view_baths">
			{{ fields.field_baths.content }}
		</div>
		<div class="comm_view_area">
			{{ fields.field_area_sq_ft_.content }}
		</div>
		<div class="comm_view_price">
			{{ fields.field_starting_prices.content }}
		</div>
		<div class="see_details">
			{{ fields.view_node.content }}
		</div>
	</div>
</div>