
{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>


{# {{ kint(content) }} #}
{# <div class="owner">
	<h3>Owner</h3>
	{{ user.getDisplayName() }}
</div> #}

<div class="commmunities_top_details">
	<div class="col-md-6 no_padding">
		<h2 class="heading">{{ label }}</h2>
		<h5 class="comm_add">{{ content.field_communities_address }}</h5>
	</div>
	<div class="communities_price col-md-6 no_padding">
		<h3 class="starting_price">{{ content.field_starting_prices }}</h3>
		<ul class="beds_bath_area">
			<li>{{ content.field_beds }}</li>
			<li>{{ content.field_baths }}</li>
			<li>{{ content.field_area_sq_ft_ }}</li>
		</ul>
	</div>
</div>
<div class="communities_banner_image">
	{{ content.field_co }}
</div>
<div class="social_feature">
  <ul class="navigate_tab">
    <li><a href="#">Save to My Favorites</a></li>
    <li><a href="#">Calculate Payment</a></li>
    <li><a href="#">Send to a Friend</a></li>
    <li><a href="#">Share on Pinterest</a></li>
  </ul>
</div>
<div id="tabs">
	<div class="navigation_tab_communities">
		<ul class="navigate_tab">
			<li><a class="active_class" data-tab="details">Community Details</a></li>
			<li><a data-tab="media" class="">Media</a></li>
			<li><a data-tab="other" class="">Other</a></li>
			<li><a data-tab="other1" class="">Map & Directions</a></li>
		</ul>
	</div>
	<div id="details" class="community_details active_class">
		<h2>Community</h2>
		{{ content.field_community_details }}
	</div>
	<div id="media" class="community_details">
		<div class="communities_media_image">
			{% if content.field_communities_media_image|render %}
				<div class="map_image">
					<h3>Community Lot Map</h3>
					{{ content.field_communities_media_image }}
				</div>
			{% endif %}
			{% if content.field_communities_media_link|render %}
				<div class="youtube_link">
					<h3>Media</h3>
					{{ content.field_communities_media_link }}
				</div>
			{% endif %}
		</div>
	</div>
	<div id="other" class="community_details">
		<h2>Other</h2>
		{{ content.field_communities_media }}
	</div>
	<div id="other1" class="community_details">
		<h2>Map & Directions</h2>
		<div class="map">
			{{ content.field_communities_map_address }}
		</div>
	</div>
</div>

<div class="hours_oprations">
	<div class="col-md-6">
		<div class="address">
			<h3>Community Location</h3>
			{{ content.field_communities_address }}
		</div>
		<div class="address">
			<h3>Hours of Operation</h3>
			{{ content.field_hours_of_operation }}
		</div>
		<div class="address">
			<h3>Andy Claxton</h3>
			{{ content.field_tod_hammons }}
		</div>
	</div>
	<div class="custom_form col-md-6">
		<h3>REQUEST INFORMATION</h3>
		<div class="fifty_fifty">
			{{ form.fname }}
		</div>
		<div class="fifty_fifty margin_left">
			{{ form.lname }}
		</div>
		<div>
			{{ form.email }}
		</div>
		<div class="fifty_fifty">
			{{ form.phone }}
		</div>
		<div class="fifty_fifty margin_left">
			{{ form.zip }}
		</div>
		<div>
			{{ form.message }}
		</div>
		<div>
			{{ form.actions }}
		</div>
	</div>
</div>






  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  {# <div{{ content_attributes.addClass('content') }}>
    {{ content }}
  </div> #}

</article>

