{# {{ kint(content) }} #}
<div class="text-left">
	<h2>{{ label }}</h2>
</div>
<div class="text-left home_page_about_text">
	<h3 class="field_country">{{ content.field_country }}</h3>
	{{ content.body }}
</div>

<div class="home_page_images">
	<div class="for_loop">
		{# <ul class="iteam">
			{{ kint(content.field_address) }}
            {% for i in 0..content.field_hom|length %} #}
                {# {% if 0..content.field_hom|rander = true %} #}
                	{# {% if i <= 4 %}
	                    {% if i == 0 %}
	                    	<li class="col-md-9">
		                        {{ content.field_hom[i]}}
		                    </li>
	                    
	                    {% endif %}
	                
	                {% endif %} #}
                {# {% endif %} #}
            {# {% endfor %}
        </ul> #}
        {{ content.field_address }}
	</div>
</div>
 