{# {{ kint(content) }} #}
<div class="text-center">
	<h2>{{ label }}</h2>
</div>
<div class="text-center home_page_about_text">
	{{ content.body }}
</div>

<div class="home_page_images">
	<div class="for_loop">
		<ul class="iteam">
            {% for i in 0..content.field_hom|length %}
                {# {% if 0..content.field_hom|rander = true %} #}
                	{% if i <= 4 %}
	                    {% if i == 0 %}
	                    	<li class="col-md-9">
		                        {{ content.field_hom[i]}}
		                    </li>
	                    {% elseif i == 1 %}
	                    	<li class="col-md-3 padding_left">
		                        {{ content.field_hom[i]}}
		                    </li>
		                    <div style="clear: both; margin-bottom: 20px;"></div>
	                    {% elseif i == 2 %}
	                    	<li class="col-md-3 padding_left">
		                        {{ content.field_hom[i]}}
		                    </li>
	                    {% elseif i == 3 %}
	                    	<li class="col-md-3 padding_left">
		                        {{ content.field_hom[i]}}
		                    </li>
	                    {% elseif i == 4 %}
	                    	<li class="col-md-6">
		                        {{ content.field_hom[i]}}
		                    </li>
	                    {% endif %}
	                
	                {% endif %}
                {# {% endif %} #}
            {% endfor %}
        </ul>
	</div>
</div>
