body{
	margin: 0;
}
.top_strip {
    background: #d7d7d7;
}
header#header {
    background: #0079bd;
    min-height: 75px;
    margin-top: 20px;
}
.site_branding a.branding {
    width: 20%;
    position: relative;
}
.site_branding a.branding img {
    width: 90%;
    position: absolute;
    top: -51px;
}

.top_left_menu{
	float: left;
	padding-left: 19%;
}
.top_left_menu ul.menu.menu--top-left-menu li a{
	font-size: 20px;
	letter-spacing: 2px;
}
.secodary_menu ul.menu.menu--account li a {
    font-size: 17px;
}
.primary_menu .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    border-bottom: 4px solid transparent;
    display: block;
    line-height: 40px;
    font-weight: 700;
}
.primary_menu .navbar-nav > li > a:hover {
    background: transparent;
    border-color: #fff;
    transition: 500ms ease;
    line-height: 30px;
    color: #d1d1d1;
}

.primary_menu .navbar-nav > li > a.is-active {
    background: transparent;
    border-color: #fff;
    transition: 500ms ease;
    line-height: 30px;
    color: #d1d1d1;
}



footer.footer {
    background-color: rgb(139, 142, 144);
    padding: 20px 0px;
    margin-top: 20px;
}
.bottom_footer {
    text-align: right;
    font-size: 12px;
    color: rgb(51, 51, 51);
}
ul.menu.menu--footer.nav li {
    display: inline-block;
    position: relative;
}
ul.menu.menu--footer.nav li a {
    color: rgb(51, 51, 51);
    font-size: 17px;
}
.left_footer p {
    color: rgb(51, 51, 51);
    font-weight: 600;
}
.left_footer p:last-child img {
    width: 50px;
}





.flexslider {
    border: none;
}

.for_loop {
    margin-bottom: 20px;
    margin-top: 20px;
}
.for_loop ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.padding_left{
	padding-left: 5px;
}
.no_padding {
    padding: 0px;
}
.home_page_about_text{
	font-size: 17.5px;
	line-height: 1.5;
}



.commmunities_top_details h5.comm_add {
    font-size: 18px;
}
.communities_price {
    text-align: right;
}
.communities_price ul li {
    display: inline-block;
    font-size: 17px;
    position: relative;
    color: rgb(51, 51, 51);
    list-style: none;
    padding: 0px 15px;
}
.communities_price ul li::after {
    content: "|";
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 20px;
}
.communities_price ul li:last-child::after {
    content: "";
}
.communities_banner_image img {
    width: 100%;
    max-height: 550px;
}

.social_feature {
    border-bottom: 1px solid rgb(153, 153, 153);
}
.social_feature ul {
    margin: 0px;
}
.social_feature ul li {
    display: inline-block;
    font-size: 17px;
    color: rgb(51, 122, 183);
    list-style: none;
    padding: 15px;
}

.navigation_tab_communities {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(102, 102, 102);
}
.navigation_tab_communities ul {
    margin: 0px;
}
.navigation_tab_communities ul li {
    display: inline-block;
    text-align: center;
    font-size: 19px;
    position: relative;
    color: rgb(90, 106, 137);
    width: 24%;
    cursor: pointer;
    list-style: none;
}
.navigation_tab_communities ul li a {
    display: block;
    padding: 20px 0px;
}
.navigation_tab_communities ul li:hover a {
    font-weight: bold;
    text-decoration: none;
}
.navigation_tab_communities ul li::after {
    content: "|";
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 28px;
}
.navigation_tab_communities ul li:last-child::after {
    content: "";
    position: absolute;
}
.navigation_tab_communities ul li a.active_class {
    font-weight: bold;
}
.navigation_tab_communities ul li a.active_class::after {
    content: "";
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0px;
    border-bottom: 5px solid rgb(90, 106, 137);
}
.community_details {
    font-size: 17px;
    color: rgb(0, 0, 0);
    display: none;
    line-height: 1.8;
}
.community_details.active_class {
    display: block;
}


.communities_media_image {
    box-sizing: border-box;
    padding: 20px 50px;
    overflow: hidden;
    display: flex;
}
.communities_media_image .map_image {
    padding: 0 30px 10px;
    flex: 1;
    background: #cacaca;
}
.communities_media_image .youtube_link {
    padding: 0 30px;    
    flex: 1;
    background: #cacaca;
    margin-left: 20px;
}




.address h3 {
    color: rgb(51, 122, 183);
    font-size: 22px;
}
.address {
    font-size: 16px;
    line-height: 2;
    width: 75%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.custom_form {
    margin-top: 15px;
    margin-bottom: 20px;
    background: rgb(235, 237, 239);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 213);
    border-image: initial;
    padding: 0px 20px 15px;
}
.custom_form input, button, textarea {
    margin: 6px 0;
}
.hours_oprations{
	margin-top: 20px;
	border-top: 1px solid #999;
	padding-top: 20px;
}
.margin_left {
    margin-left: 5px;
}
.fifty_fifty {
    width: 49%;
    display: inline-block;
    overflow: hidden;
}
.communities_view {
    /*padding: 50px 0;*/
}
.see-details a {
    background: #0079bd;
    color: #fff;
    padding: 7px 20px;
    position: relative;
    top: 12px;
    width: 100%;
}
.communities_view_bg {
    background: #e8e8e8;
    width: 31%;
    margin-left: 20px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 0;
}
.communities_view_content_text {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 2;
    color: #000;
}
.comm_view_title, .comm_view_add {
    font-weight: bold;
    font-size: 17px;
    color: #338ac6;
}
.comm_view_title a {
    font-size: 19px;
}
.see_details {
    background: #337ab7;
    text-align: center;
    margin-top: 30px;
}
.see_details a{
    color: #fff;
}

/*.field_country{
    position: relative;top: 0;float: right;}*/